<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="loginScreen" ng-controller="form">
	<h1>SE 339 Team Alpha Login Screen</h1>

	<form class="w3-section">
		UserName:<br>
		<input type="text" ng-model="name">
	</form>

	<button class="w3-btn w3-ripple w3-orange" ng-click="login()">Login</button>
</div>

<script>
	var app = angular.module('loginScreen', []);
	app.controller('form', function($scope, $window) {
		$scope.name = '';
		$scope.login = function() {
			if($scope.name === ''){
				window.alert("Please enter a username!");
			} else{
				$window.localStorage.setItem('user', $scope.name);
				$window.location.href = './mainAngular.html';
			}
		}
	});
</script>

</body>
</html>