<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">
        Household Settings
      </h2>
    </div>
  </div>
  <!-- /.row -->

  <div *ngIf="activeHousehold && userIsAdmin" class="row">
    <div class="col-md-9 col-lg-7 col-xl-6">

      <form #f="ngForm" (ngSubmit)="onSubmit(f)" role="form" novalidate class="buffer-bottom">
        <fieldset class="form-group"
                  [class.has-warning]="householdName.errors && (householdName.dirty || householdName.touched)"
                  [attr.disabled]="formDisabled ? true : null">
          <label class="form-control-label">Household Name</label>
          <input name="householdName" [ngModel]="activeHousehold.householdName"
                 required minlength=4 [attr.maxlength]="MAX_VARCHAR_LENGTH" #householdName="ngModel"
                 class="form-control form-control-warning" type="text" value="{{householdName.value}}">
        </fieldset>

        <fieldset class="form-group"
                  [attr.disabled]="formDisabled ? true : null">
          <label class="form-control-label">Street Address</label>
          <input name="firstAddressLine" [ngModel]="activeHousehold.firstAddressLine"
                 [attr.maxlength]="MAX_VARCHAR_LENGTH" #firstAddressLine="ngModel"
                 class="form-control" type="text" value="{{firstAddressLine.value}}">
        </fieldset>

        <fieldset class="form-group"
                  [attr.disabled]="formDisabled ? true : null">
          <label class="form-control-label">City</label>
          <input name="city" [ngModel]="activeHousehold.city"
                 [attr.maxlength]="MAX_VARCHAR_LENGTH" #city="ngModel"
                 class="form-control" type="text" value="{{city.value}}">
        </fieldset>

        <fieldset class="form-group" [attr.disabled]="formDisabled ? true : null">
          <label class="form-control-label">State</label>
          <select name="state" [ngModel]="activeHousehold.state" required id="stateOption" class="form-control">
            <option value="" disabled>Choose a state</option>
            <option *ngFor="let state of states" [ngValue]="state.abbreviation">
              {{state.fullName}} - {{state.abbreviation}}
            </option>
          </select>
        </fieldset>

        <fieldset id="zip-field" class="form-group"
                  [class.has-warning]="zipCode.errors"
                  [attr.disabled]="formDisabled ? true : null">
          <label class="form-control-label">Zip</label>
          <input name="zipCode" [ngModel]="activeHousehold.zipCode" #zipCode="ngModel"
                 class="form-control form-control-warning"
                 type="text" pattern="(\d\d\d\d\d)?" value="{{zipCode.value}}">
        </fieldset>

        <button type="button" class="btn btn-secondary" *ngIf="!formDisabled"
                (click)="cancelChanges(f)">Cancel
        </button>
        <button type="submit" class="btn btn-secondary" *ngIf="!formDisabled"
                (click)="onSubmit(f)">Submit
        </button>
        <button type="button" class="btn btn-secondary" *ngIf="formDisabled"
                (click)="formDisabled = !formDisabled"
                [attr.disabled]="savingState ? true : null">Make Changes
        </button>
        &nbsp;&nbsp;&nbsp;<i class="fa fa-lg fa-cog fa-spin" *ngIf="savingState"></i>
        &nbsp;&nbsp;&nbsp;<span class="text-danger" [hidden]="!errorOnSave">Invalid form!</span>
      </form>

    </div>
    <div class="col-md-9 col-lg-5 col-xl-6">
      <div [hidden]="!householdName.errors?.minlength" class="alert alert-warning" role="alert">
        Household name must be greater than 4 characters.
      </div>
      <div [hidden]="!householdName.errors?.required" class="alert alert-warning" role="alert">
        Household name is required.
      </div>
      <div [hidden]="!zipCode.errors" class="alert alert-warning" role="alert">
        Zip codes must be five digits in length.
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div *ngIf="confirmedNotAdmin" class="row">
    <div class="col-lg-12">
      <p>Whoops! You are not authorized to view this page. Please contact your
        household administrator if you believe you are receiving this in error.</p>
    </div>
  </div>
  <!-- /.row -->
</div>
