<div class="login-page">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <img src="assets/img/SB-admin.png" width="150px;" class="user-avatar"/>
      <h1>Create a SmartSync User Account</h1>
      <form #f="ngForm" role="form" (ngSubmit)="onSubmit(f)">
        <div class="form-content">
          <div class="form-group" style="margin-bottom: 3em;">
            <label>User Display Name<br>
              <input type="text" class="form-control input-underline input-lg"
                     required maxlength="{{MAX_VARCHAR_LENGTH}}"
                     name="displayName" placeholder="E.g. 'Mom' or 'Swarley'" [(ngModel)]="displayName">
            </label>
            <p class="form-note">
              <b>NOTE:</b> Most of your User Settings are tied to your Google Account, and should be
              changed at the Google Account Settings page.
            </p>
          </div>

          <div class="form-group">
            <label>Accept an Invite to a Household<br>
              <div class="btn-group-vertical buffer-top invite-list" role="group" aria-label="Select Invite">
                <button type="button" class="btn rounded-btn"
                        *ngFor="let invite of invites" [class.active]="invite.inviteId === selectedInvite"
                        (click)="onClickInvite(invite.inviteId)">{{invite.householdName}}
                </button>
              </div>
              <input type="hidden" name="invite" [(ngModel)]="selectedInvite">
              <input type="hidden" name="acceptedInvite" [(ngModel)]="acceptingInvite">
            </label>
          </div>

          <p>OR</p>

          <div class="form-group">
            <label class="buffer-top">Create a new Household with name...<br>
              <input type="text" class="form-control input-underline input-lg" maxlength="{{MAX_VARCHAR_LENGTH}}"
                     name="householdName" placeholder="E.g. 'The Smiths'" [(ngModel)]="householdName"
                     (focus)="onFocusHousehold()">
            </label>
            <br>
            <label class="buffer-top" [hidden]="householdInputs">First Address Line <br>
              <input type="text" class="form-control input-underline input-lg" maxlength="{{MAX_VARCHAR_LENGTH}}"
                     name="householdFirstAddressLine" placeholder="E.g. '1600 Pennsylvania Ave NW'"
                     [(ngModel)]="householdFirstAddressLine" >
            </label>
            <br>
            <label class="buffer-top" [hidden]="householdInputs">Second Address Line <br>
              <input type="text" class="form-control input-underline input-lg" maxlength="{{MAX_VARCHAR_LENGTH}}"
                     name="householdSecondAddressLine" placeholder="E.g. 'The Lincoln Suite'"
                     [(ngModel)]="householdSecondAddressLine" >
            </label>
            <br>
            <label class="buffer-top" [hidden]="householdInputs">City <br>
              <input type="text" class="form-control input-underline input-lg" maxlength="{{MAX_VARCHAR_LENGTH}}"
                     name="householdCity" placeholder="E.g. 'Washington'"
                     [(ngModel)]="householdCity" >
            </label>
            <br>
            <label class="buffer-top" [hidden]="householdInputs">State <br>
              <select class="form-control input-underline input-lg" name="householdState" [(ngModel)]="householdState">
                <option value=""></option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
            </label>
            <br>
            <label class="buffer-top" [hidden]="householdInputs">Zip Code
              <input type="number" class="form-control input-underline input-lg" maxlength="5" minlength="5"
                     name="householdZip" placeholder="E.g. '20500'" [(ngModel)]="householdZip" >
            </label>
          </div>


          <!--<p>OR</p>-->

          <!--<div class="form-group">-->
            <!--<button type="button" class="btn rounded-btn" [class.active]="joinHouseholdLater"-->
                    <!--(click)="onClickJoinLater()"> Join a Household Later-->
            <!--</button>-->
            <!--<input type="hidden" name="joinHouseholdLater" [(ngModel)]="joinHouseholdLater">-->
          <!--</div>-->
        </div>

        <button type="submit" class="btn rounded-btn"> Register</button>&nbsp;
        <button type="cancel" class="btn rounded-btn" routerLink="/"> Already a User?</button>
      </form>
    </div>
  </div>
</div>
